ul{
    list-style: none;
}
.circle{
    background-color: bisque;
    border-radius: 50%;
    border: 1.5px solid black;
    width: 30px;
    height: 30px;
}
.circle:hover{
    background-color: rgb(238, 210, 175);
}

.square{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: rebeccapurple;
}
.red{
    background-color: red;
}

.green{
    background-color: green;
}